@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap");
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: black;
    color: white;
    font-weight: 100;
    font-size: 17px;
}

.page-header {
    background-color: #3de07e;
    height: 608px;
    display: flex;
    justify-content: center;
}

.page-header-nav {
    position: absolute;
    top: 30px;
    left: 30px;
}

.flex-poster-shop-container {
    display: flex;
    flex-direction: row;
    row-gap: 90px;
    column-gap: 2%;
    flex-wrap: wrap;
    max-width: 1035px;
    width: 99%;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.checkout-middle {
    row-gap: 90px;
    column-gap: 30px;
    flex-wrap: wrap;
    max-width: 1035px;
    width: 99%;
    justify-content: center;
    margin-top: 145px;
    margin-bottom: 90px;
    
}

.flex-checkout-container {
    display: flex;
    flex-direction: row;
    row-gap: 60px;
    column-gap: 30px;
    flex-wrap: wrap;
    max-width: 1035px;
    justify-content: center;
}

.poster-small {
    display: grid;
    
    width: 32%;
    grid-template-rows: 325px 10px 40px 10px 110px 10px 30px;

  }

  .poster-small-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
  }

  .poster-small-title {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
  }

  .poster-small-desc {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
  }

  .poster-small-button {
    grid-row-start: 7;
    grid-column-start: 1;
    width: 140px;
    font-size: 12px;
    background-color: #e83f57;
    color: white;
    border-color: #e83f57;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
  }


  .bottom-background {
    background-color: #333333;
  }

  .bottom-flex {
    
    height: 320px;
    max-width: 1335px;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 100px; */
}

.bottom-nav {
    width: 250px;
    display: flex;
    justify-content: center;
}

.bottom-text-content {
    display: grid;
    grid-template-rows: 50px 25px 25px;
    
    margin-top: 80px;
  }

.bottom-address {
    width: 250px;
    min-width: 170px;
    display: flex;
    justify-content: center;
}

.bottom-social-media {
    width: 250px;
    min-width: 195px;
    display: flex;
    justify-content: center;
}

  .bottom-social-media-content {
    margin-top: 80px;
}

.logo-twitter {
    margin-right: 10px;
}

.logo-facebook {
    margin-right: 10px;
}

.logo-linkedin {
    margin-right: 10px;
}


.poster-big {
    background-color: white;
    display: grid;
    grid-template-columns: 502px;
    grid-template-rows: 502px 10px 40px 10px 110px 10px 70px;
  }

.poster-big-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 502px;
  }

  .poster-big-title {
    color: #222222;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 15px;
    margin-top: 22px;
  }

  .poster-big-desc {
    color: #222222;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 15px;
    margin-top: 22px;
  }

  .poster-big-button {
    grid-row-start: 7;
    grid-column-start: 1;
    width: 160px;
    font-size: 12px;
    background-color: #e83f57;
    color: white;
    border-color: #e83f57;
    border-radius: 6px;
    border-style: none;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .varor-i-korg {
    text-align: left;
    font-size: 47px;
  }

  .checkout-summary-header {
    display: grid;
    grid-template-rows: 7px 23px;
    grid-template-columns: 535px 375px 125px;
    background-color: #2f0b0b;
    height: 30px;
  }

  .checkout-summary-header {
    color: #c8c1c1;
    font-weight: 100;
  }

  .checkout-summary-header-vara {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .checkout-summary-header-antal {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .checkout-summary-header-pris {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .checkout-summary {
    display: grid;
    grid-template-rows: 20px 20px;
    height: 60px;
  }

  .checkout-summary-item1 {
    display: grid;
    grid-template-columns: 535px 375px 125px;
    font-size: 20px;
    font-weight: 100;
  }

  .checkout-summary-item1-vara {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .checkout-summary-item1-antal {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .checkout-summary-item1-pris {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .checkout-summary-item2 {
    display: grid;
    grid-template-columns: 535px 375px 125px;
    font-size: 20px;
    font-weight: 100;
  }

  .checkout-summary-item2-vara {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .checkout-summary-item2-antal {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .checkout-summary-item2-pris {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .horizontal-line {
    height: 3px;
    background-color: #bebebe;
  }

.checkout-summary-bottom {
    display: grid;
    grid-template-columns: 910px 125px;
    font-size: 20px;
}

.checkout-summary-bottom-totalt {
    grid-column-start: 1;
    grid-column-end: 2;
}

.checkout-summary-bottom p { 
    font-weight: bold;
}

.checkout-summary-bottom-totalpris {
    grid-column-start: 2;
    grid-column-end: 3;
}

.checkout-button {
    width: 425px;
    font-size: 30px;
    background-color: #e83f57;
    color: white;
    border-color: #e83f57;
    border-radius: 1px;
    height: 75px;
    border-style: none;
    margin-top: 110px;
    margin-left: 610px;
    margin-bottom: 25px;
    font-weight: bold;
  }

.checkout {
    display: flex;
    justify-content: center;
}

.poster-big-checkout-ver {
    background-color: white;
    display: grid;
    grid-template-columns: 502px;
    grid-template-rows: 502px 10px 40px 30px;
    height: 650px;
  }

.poster-big-image-checkout-ver {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 502px;
  }

  .poster-big-title-checkout-ver {
    color: #222222;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 15px;
    margin-top: 22px;
  }

  .poster-big-button-checkout-ver {
    grid-row-start: 5;
    grid-column-start: 1;
    width: 165px;
    font-size: 12px;
    background-color: #e83f57;
    color: white;
    border-color: #e83f57;
    border-radius: 6px;
    border-style: none;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: bold;
  }

.break-10px {
    display: block;
    margin-top: 10px;
}

.break-40px {
    display: block;
    margin-top: 40px; 
}

.break-65px {
    display: block;
    margin-top: 65px;
}